<h1>New List</h1>
<form action='/lists/new' method='POST'>
    <label>Name:</label>
    <input type='text' name=list[name] value=''>
    <br>
    <input type='submit' value='Create List name' class='button'>
</form>