
<h1><%=@list.name%></h1>
    <%@list.items.each do |item|%>
    <ol>
        <li><a href="<%=item.item_url%>" target="_blank"> <%=item.name%></a>: $<%=item.price%> </li>
    </ol>
    <%end%>
    <a href='/items/new'> Create new Item </a>
