<h1>Window Shopper Login</h1>
<form action='/login' method='POST'>
    <label>Username:</label>
    <input type='text' name=username value=''>
    <br>
    <label>Password:</label>
    <input type='password' name='password' value=''>
    <br/>
    <input type='submit' value='Log In' class='button'>
</form>
<br/>
<form action='/signup' method='GET'> 
    <input type='submit' value="Sign Up" class='button'>
</form>