<h1>Window Shopper Sign Up<h1>
<form action='/signup' method='POST'>
    <label>Username:</label>
    <input type='text' name=user[username] value=''>
    <br>
    <label>Password:</label>
    <input type='password' name=user[password] value=''>
    <input type='submit' value='Sign Up'>
</form>