<h1>Hello <%= @user.username%> </h1>
     
<ol>
    <% @user.lists.each do |list|%> 
   <li> <a href="/lists/<%=list.id%>"><%=list.name%> </a> </li>
    <%end%>
</ol>
    <br/>

<a href='/lists/new'> Add New List </a>
<br/>
<br/> 
<a href='/user/<%=session[:user_id]%>/edit'> Edit Login </a>
<br/>
<a href='/logout'>Logout </a>
