<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2>Sinatra Template Default Page</h2>

    <div class="content">
    </div>

    <div class="sidebar">
      <h3>Environment</h3>
    </div>

  </div>
</div>
